*{
    max-width: 1440px;
    margin: 0;
    padding: 0;
}


.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* Nav styles Start */
nav{
    display: flex;
    justify-content: space-between;
}
.nav-title{
    font-weight: 800;
    font-size: 28px;
    color: rgb(13, 19, 33);
    margin-left: 150px;
    margin-top: 50px;
    
}
.btn{
    font-weight: 600;
    font-size: 20px;
    color: rgb(13, 19, 33);
    border-radius: 8px;
    padding: 17px 24px;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.8;
    margin-right: 166px;
    margin-top: 38px;
    
}

/* Banner Styles Start */
img{
    margin-top: 26px;
}
.banner{
    max-width: 1440px;
    height: 652px;
    margin: 131px auto;
    background-image: url('/assets/Hero-bg.png');
}
.banner-content{
    text-align: center;
}
.banner-heading{
    font-weight: 800;
    font-size: 48px;
    text-align: center;
    color: rgb(13, 19, 33);
    margin-top: 32px;
}
.banner-description{
    font-weight: 400;
    font-size: 16px;
    color: rgb(13, 19, 33);
    opacity: 0.7;
    width: 852px;
    height: 52px;
    margin: 0 auto;
    margin-top: 24px;
}
.btn1{
    margin: 0 auto;
    background-color: rgb(13, 19, 33);
    width: 208px;
    height: 66px;
    padding: 21px 24px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    margin-top: 32px;
}

/* Development section Styles */


.development-container-title{
    
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    width: 852px;
    height: 39px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 24px;
}
.development-container-description{
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    color: rgb(13, 19, 33);
    text-align: center;
    width: 852px;
    height: 39px;
    margin: 0 auto;
    
}

.development-secound-part{
    display: flex;
    width: 946px;
    height: 336px;
    margin: 0 auto;
    padding: 48px;
    gap: 50px;
}
.column-content{
    padding: 50px;
}
.column img{
    width: 259.56px;
    height: 217.01px;
}
.column-title{
    font-weight: 700;
    font-size: 24px;
    color: rgba(13, 19, 33, 0.7);
    margin-bottom: 16px;
    
}
.column-descripton{
    font-weight: 400;
    font-size: 16px;
    color: rgb(13, 19, 33);
    opacity: 0.7;
}
.btn2{
    font-size: 20px;
    font-weight: 600;
    color: rgb(13, 19, 33);
    padding: 12px 20px;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    margin-top: 32px;
}
.development-third-part{
    display: flex;
    width: 946px;
    height: 336px;
    margin: 0 auto;
    padding: 48px;
    gap: 25px;
    margin-top: -128px;
}
.column1 img{
    margin-left: 30px;
}

.development-forth-part{
    display: flex;
    width: 946px;
    height: 336px;
    margin: 0 auto;
    padding: 48px;
    gap: 50px;
    margin-top: -128px;
}